.btn1 {
  background-color: rgb(22, 75, 57);
}

.page-simulation-setting {
  .example-setting{
    display: flex;
    flex-direction: column;
  }
  .button-group {
    margin-top: 20px;
    margin-left: 140px;
    button.ok {
      max-width: 80px;
      margin-left: 20px;
    }
    button.exm {
      max-width: 100px;
      margin-left: 20px;
    }
    button.step {
      width: 17%;
      max-width: 150px;
      height: 80px;
      background-color: #264478;
      color: white;
    }


    button.simulation-button-masked {
      opacity: 0.7;
    }

  }

  .simulation-setting-footer-buttons {
    text-align: center;
    div.simulation-setting-footer-buttons-group {
      display: inline-flex;
      width: 50%;
      height: 200px;
      max-width: 333px;
      justify-content: space-between;
      align-items: center;
    }

    //button {
    //  float: left;
    //  width: 100px;
    //}
    //
    //button:first-child {
    //  float: left;
    //  margin-left: 15%;
    //}
    //
    //button:last-child {
    //  float: right;
    //  margin-right: 15%;
    //}

  }
}

/*统一调整各个步骤样式*/
.simulation-step-content {

  margin-top: 0px;

  .simulation-content-masked {
    opacity: 0.4;
  }

  .simulation-step-card {

  }

  .simulation-row {
    margin-top: 30px;
  }

  .simulation-input {
    margin-left: 15px;
  }

  .simulation-selector {
    margin-left: 15px;
    width: 40%;
    min-width: 170px;
    max-width: 240px;
  }


  .simulation-buttons {
    margin-top: 30px;

    button {
      width: 100px;
      margin-left: 30px;
    }
  }

}
