.btn1 {
  background-color: rgb(22, 75, 57);
}

.page-simulation-setting {
  .summary-word{
    margin-left: 100px;
    margin-top: 50px;
    width: 80%;
    text-align: justify;
    font-size: 16px 
   }
   .summary-img{
     margin-top: 30px;
     margin-left: 200px;
     margin-bottom: 50px;
   }
   .decode-button-group {
    margin-top: 40px;
    text-align: center;

    button {
      margin:20px 0 50px 75px;
      width: 100px;
      font-size: 14px;
    }
  }
  .example-setting{
    display: flex;
    flex-direction: column;
  }
  .simulation-setting-header-button-group {
    margin-top: 40px;

    div:first-child {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      button.simulation-setting-header-button-step {
        padding: 0px 5px 0px 20px;
        background-color: white;
        background-image: url('../../../assets/service/simuArrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0px solid transparent;
        overflow: hidden;

      }
    }

    div:last-child {
      text-align: center;
      margin-top: 10px;
    }
  }
    

    button.exm {
      max-width: 100px;
      // margin-left: 20px;
      text-align: center;
    }

    button.simulation-setting-header-button-ok {
      max-width: 80px;
      margin-top: 30px;
      margin-bottom: 30px;
      //margin-left: 20px;
    }

    button.simulation-button-masked {
      opacity: 0.7;
    }

  }

  .simulation-setting-footer-buttons {
    text-align: center;
    div.simulation-setting-footer-buttons-group {
      display: inline-flex;
      // width: 50%;
      height: 200px;
      max-width: 333px;
      justify-content: space-between;
      align-items: center;

    

    //button {
    //  float: left;
    //  width: 100px;
    //}
    //
    //button:first-child {
    //  float: left;
    //  margin-left: 15%;
    //}
    //
    //button:last-child {
    //  float: right;
    //  margin-right: 15%;
    //}

  }
}

/*统一调整各个步骤样式*/
.simulation-step-content {
  .simulation-card{
    padding-bottom: 50px;
  }
  // #simulation-synthesis-uploader{
  //   height: 400px;
  // }
  margin-top: 0px;

  .simulation-content-masked {
    opacity: 0.4;
  }

  .simulation-step-card {

  }

  .simulation-row {
    margin-top: 30px;
  }

  .simulation-input {
    margin-left: 15px;
  }

  .simulation-selector {
    margin-left: 15px;
    width: 40%;
    min-width: 170px;
    max-width: 240px;
  }


  .simulation-buttons {
    margin-top: 30px;

    button {
      width: 100px;
      margin-left: 30px;
    }
  }

}
//#fff, #29c0d5, #1897c0, 22px, 8em, 2em, right
// .btn-right {
//   @include arrow-button(#fff, #29c0d5, #1897c0, 22px, 8em, 2em, right);
  
//   &:hover {
//     //animation: zoom 2s;
//   }
// }
// @color:#fff;
// @background:#29c0d5;
// @shadow:#1897c0;
// @font-size:22px; 
// @width:8em; 
// @height:2em;
// @direction:right;

// @include arrow-button(@color, @background, @shadow, @font-size, @width, @height, @direction) {  
  
//   background: none;
//   border: 0;
//   font-size: @font-size;
//   line-height: @height;
//   position: relative;
//   width: @width;
//   height: @height;
  
//   @if @direction == "up" {
//     transform: rotate(-90deg);
//   }  @else if @direction == "down" {
//     transform: rotate(90deg);
//   }
  
//   a {
//     color: @color;
//     text-decoration: none;
//     position: relative;
//     z-index: 10;
//   }
  
//   &::before,
//   &::after {
//     background: @background;
//     border-radius: 2px;
//     content: '';
//     display: block;
//     position: absolute;
//       left: 0;
//       right: 0;
//     transition: all 1s;
//     height: @height/2;
//   }
  

//   &::before { 
//     box-shadow: 
//       -1px 1px 0 @shadow,
//       -2px 2px 0 @shadow,
//       -3px 3px 0 @shadow,
//       -4px 4px 0 @shadow;
//     transform: skew(45deg);
//     @if @direction == "left" { bottom: 0; z-index: 1 }
//     @else { top: 0; }
//   }

//   &::after {
//     box-shadow: 1px 1px 0 @shadow, 
//       2px 2px 0 @shadow,
//       3px 3px 0 @shadow, 
//       4px 4px 0 @shadow;
//     transform: skew(-45deg);
//     @if @direction == "left" { top: 0;}
//     @else { bottom: 0; }
//   }
  
//   &:hover::before,
//   &:hover::after {
//     background: lighten(@background,15%);
//   }
  
//   &:focus {
//       &::before,
//       &::after {
//         background: lighten(@background,15%);
//       }
//       outline: 0;
//   }
// }

