//.reportContainer {
  //display: flex;
  // .FileInformation{
  //  p{
  //    font-size: 14px;
  //  }
  //   a{
  //     margin: 0px 0 0 170px;
  //   }
  // }
  // .EncodeInformation{
  //   h3{
  //     margin: 0 0 40px 260px
  //   }
  // }
//}


.encode-report-wrapper {

  table {
    width: 80%;
    margin: 0 auto;
  }

  .encode-report-graph {
    text-align: center;
    margin-top: 20px;

    canvas {
      width: 80% !important;
    }
  }

  .encode-report-file-information {
    margin-top: 20px;
  }

  .encode-report-footer-text {
    margin-top: 20px;

    .encode-report-footer-result {
      p {
        text-align: center;
      }
    }

    .encode-report-footer-information {
      p {
        text-align: justify;
      }
    }

  }

  .encode-report-button-wrapper {
    margin-top: 20px;
    text-align: center;
  }



}


