.contact{
  background-color: white;
  width: 1500px;
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 200px;
}
.contact_inner{
  // padding-right: 200px;
  margin-left: 350px;
  width: 850px;
  font-size: larger;
  // .p{
  //   font-size:7;
  // }
}
