.contact{
  background-color: white;
  padding-right: 200px;
}
.contact_inner{
  // padding-right: 200px;
  margin-left: 300px;
  display: flex;
    flex-direction: column;
  // width: 1000px;
  font-size: 19px;
  p{
    font-size:16px;
  }
}
