div#people,
div#Correspondence {
  padding-top: 20px;
  margin: 0 auto;
  width: 1000px;
  line-height: 30px;
}

div#tableContainer {
  display: table;
  border-spacing: 10px;
}

div#page {
  padding-left: 50px;
}

#tableCell {
  display: table-cell;
  vertical-align: top;
  line-height: 25px;
}

.tableRow {
  display: table-row;
}

p#teacher {
  font-size: 15px;
  font-weight: bolder;
}

a:visited {
  color: blue;
}

nav ul li a:link,
nav ul li a:visited {
  color: cornflowerblue;
}

img#professorpic {
  margin-top: 15px;
  border-radius: 5px;
}
