// .home-content {
//   background-color: #f0f2f5;
//   height: 900px;
//   .home-model-name {
//     height: 150px;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//   }
//   .brief {
//     height: 150px;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//   }
//   .home-photo {
//     background-color: gray;
//     margin: 0 auto;
//     width: 480px;
//     height: 270px;
//   }

//   .button-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .home-button {
//       margin: 40px;
//     }
//   }
// }
.home {
  height: 100%;
}

.home-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.home-introduce-wrapper {
  background-color: white;
  //display: flex;

  .home-introduce-item {
    width: 40%;
  }

  .home-introduce-line {
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 20px;

    text-align: center;

    h2 {
      display: inline-block;
      margin-bottom: 7px;
    }

  }

  div.home-introduce-button-line {
    padding-top: 5px;
  }

}
