//.decode-content {
//  .ant-table-thead {
//  }
//}


.decode-report-wrapper {
  margin-bottom: 150px;

  .decode-report-file-information {
    margin-top: 20px;
    // padding-bottom: 50px;
    .decode-report-table-wrapper {
      padding: 40px 100px 100px;
    }
   

    }
  }


