#test{
    padding-left: 200px;
    // padding-right: 200px;
    margin-left: 70px;
    margin-right: 200px;
    width: 950px;
    font-size: larger;
}
.Methods{
    background-color: white;
    width: 1500px;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 200px;
}