.MethodContainer{
    display: flex;
    flex-direction: column;
    p{
        text-align:justify;
    }
#test{
    padding-left: 250px;
    // padding-right: 200px;
    margin-left: 70px;
    margin-right: 200px;
    // width: 950px;
    font-size: larger;
    // display: "flex";
    

      
}
.Methods{
    background-color: white;
    // width: 1700px;
    // margin-right: 100px;
    // margin-left: 100px;
    // padding-right: 200px;
    // display: flex;
    // flex-direction: column;
}
}