.sequencing-content {
  // height: 690px;
  .TabSYN{
    font-size:17px;
  }
  .TabDEC{
    font-size:17px;
  }
  .TabPCR{
    font-size:17px;
  }
  .TabSAM{
    font-size:17px;
  }
  .TabSEQ{
    font-size:17px;
  }
  // span{
  //   margin: 10px 0 0 100px;
  // }
  .function-content {
    margin: 10px 0 20px 20px;
    width: 600px;

    .function-bar {
      margin: 20px;
    }
  }
}
