//.decode-content {
//  .ant-table-thead {
//  }
//}


.decode-wrapper {
  .decode-information-wrapper{
    .decode-button-group {
      margin-top: 30px;
      text-align: center;
    

      button {
        margin-top: 20px;
        margin-left: 90px;
        width: 100px;
        margin-bottom: 40px;
        font-size: 14px;
      }
    }
    .whole-summary-word{
      margin-left: 100px;
      margin-top: 60px;
      width: 80%;
      text-align: justify;
      font-size: 16px 
    }
    .summary-img{
      margin-top: 30px;
      margin-left: 200px;
     // margin-bottom: 20px;
    }
  }
  .cluster-algorithm-wrapper {

    .decode-button-group {
      margin-top: 40px;
      text-align: center;

      button {

        margin:40px 0 0 0px;
        font-size: 16px;
        width: 100px;
      }
    }
  }
}
