.tutorial-container{
    .tutorial{
        background-color: white;
        // padding: 0 0 100px;
    }
    .tutorial-content{
        padding-left: 250px;
        // padding-right: 200px;
        margin-left: 70px;
        margin-right: 200px;
        // width: 950px;
        font-size: larger;
        // display: "flex";
        .Breadcrumb{
            padding-top: 25px;
        }
    }
    #DNA-storage-designer{
        #first-title{
            margin-top: 20px;
            margin-bottom: 50px;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.35;
        }
        .image1{
            display: block;
            margin: 10px auto 20px auto ;
        }
    }
    #what-is-it{
        #second-title{
            margin-top: 50px;
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.35;
        }
        #text-content{
            font-size: 16px;
            line-height: 1.5715;
            text-align: justify;
        }
    }
    #example-file{
        #third-title{
            margin-top: 50px;
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.35;
        }
        #text-content{
            font-size: 16px;
            line-height: 1.5715;
            text-align: justify;
        }
        .image2{
            display: block;
            margin: 10px auto 20px auto ;
        }
    }
    #usage{
        #fourth-title{
            margin-top: 50px;
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.35;
        }
        #fourth-first-title{
            margin-top: 20px;
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 25px;
            line-height: 1.35;
        }
        #text-content{
            font-size: 16px;
            line-height: 1.5715;
            text-align: justify;
        }
        #fiveth-title{
            margin-top: 20px;
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 28px;
            line-height: 1.35;
        }
    #usage-setting{
        #sixth-title{
            margin-top: 20px;
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 25px;
            line-height: 1.35;
        }
        li{
            margin-top: 20px;
            font-size: 16px;
            text-align: justify;
        }
    }
    #usage-report{
        #seventh-title{
            margin-top: 20px;
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 25px;
            line-height: 1.35;
        }
        #report-content{
            font-size: 16px;
            width:63%;
            margin-left: 200px;
        }
        .image3{
            display: block;
            margin: 10px auto 20px auto ;
        }
        .image4{
            display: block;
            margin: 10px auto 20px auto ;
        }
    }
    li{
        margin-top: 20px;
        font-size: 16px;
        text-align: justify;
    }
    table {
        width: 80%;
        margin: 10px auto;
        padding-bottom: 50px;
      }
}
}