.layout {
  .ant-layout-header {
    height: 66px;
    padding: 0 25px;
  }
}

.footer {
  background-color: #d0cece;
  padding: 115px 60px;
  //backgroundColor: "#d0cece", padding: ""

  div {
    margin: 0;
  }

  .contact {
    background-color: #d0cece;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }



}
